{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%} {{block.super}} | index_root {%endblock title%}
</head>
<body>
    {%block content%}
    <ol>
        <li><a href="/admin">pannello admin</a></li>
        <li><a href="{% url 'prima_app:index'%}">prima app</a></li>
        <li><a href="{% url 'seconda_app:index2'%}">seconda app</a></li>
        <li><a href="{% url 'prova_pratica_1:index_prova'%}">prova pratica</a></li>
        <li><a href="{% url 'voti:homepage_voti'%}">voti</a></li>
    </ol>
    {%endblock content%}
    
</body>
</html>