{%extends "base.html"%}

{%block title%} {{block.super}} | Articoli di un giornalista {%endblock title%}

{% block content %}

{% for articolo in articoli%}
<p><strong> Titolo: </strong> 
  {% comment %} metodo non ottimale per creare il link 
  <a href="news/articoli/{{ articoli.id }}">{{ articolo.titolo }}</a>
  {% endcomment %}
  <a href={% url 'news:articolo_detail' articolo.id %}>{{ articolo.titolo }}</a>
</p>

<p><strong>contenuto: </strong>
articolo.contenuto
</p>

{% comment %} metodo ottimale per creare il link {% endcomment %}
<p><strong>Autore:</strong>
<a href={% url 'news:giornalista_detail' articolo.giornalista.id %}>{{ articolo.giornalista }}</a>
</p>
<hr>

{%endfor%}


{%endblock content%}